{% extends 'base.html.twig' %}

{% block title %}Inscription candidat{% endblock %}

{% block body %}
    <h1>Inscription candidat</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Créer mon compte candidat</button>
    {{ form_end(form) }}
{% endblock %}
